@import url("https://use.typekit.net/xup0hhv.css");

@font-face {
  font-family: "Akira";
  src: url("/fonts/AkiraExpandedDemo.otf");
}

@font-face {
  font-family: "Favorit Bold";
  src: url("/fonts/Favorit-BoldExpanded.otf");
}

@font-face {
  font-family: "Favorit Regular";
  src: url("/fonts/Favorit-RegularExpanded.otf");
}
